/* styles.css */
/* paleta fondo */
/* 
color: #034159 
color: #025951
color: #02735E
color: #038C3E
color: #0CF25D */


/* Estilos generales */
.logo {
    position: fixed;
    top: 15px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 999; /* Ajusta la posición en la pila según sea necesario */
  }

  .logo-image {
    width: 100px;
    height: 80px;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #034159, #025951, #02735E, #038C3E, #0CF25D), linear-gradient(to right, #ffcccc, #99ccff);
    background-blend-mode: multiply; /* mezclo colores gradientes */
      }
      
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px; /* Ajusta el margen superior para evitar que el contenido se superponga con el logotipo fijo */
  }
  
  /* Estilos para las secciones */
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  /* Estilos para los proyectos */
  .project-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    width: 25%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  